<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/showHead.ejs') %> 
</head>
<body>
    <header>
        <%- include('../partials/nav.ejs') %>
    </header>
    <main>
        <section class="showContainer">
            <h1><%= friends.name %> </h1>
            <section class="tools">
                <form action="/friends/<%= friends._id %>?_method=DELETE" method="POST">
                    <input id="x" type="submit" value="Delete Friend" />
                </form>
            </section>
            <img class="doggo" id="showDog" src="<%= friends.img %>" alt="my good boi" height="400px"/> <br/>
            <ul class="data-display">
                <li>Breed: <%= friends.breed %> </li><br/>
                <li>Age: <%= friends.age %> </li><br/>
                <li>Energy: <%= friends.energy %> /5</li><br/>
                <li>Personality: <%= friends.personality %> </li><br/>
                <li>Doggo Bio: <%= friends.about %> </li><br/>
                <li>Favorite Play Places: <%= friends.locations %> </li><br/>
            </ul>
        </section>
    </main>
</body>
</html>