<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../style.css">
</head>
<body>
    <header>
        <img src="https://document-export.canva.com/-3xos/DAFCdW-3xos/83/thumbnail/0001.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20220602%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20220602T212601Z&X-Amz-Expires=9902&X-Amz-Signature=17e729f3fe2064388b8878977324b179bfc889800bd831d5216f15b674f4f35f&X-Amz-SignedHeaders=host&response-expires=Fri%2C%2003%20Jun%202022%2000%3A11%3A03%20GMT" alt="logo" height="70px" class="logo">
        <nav class="site-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/friends">Furever Friends</a>
                </li>
                <li>
                    <a href="/pets">Pets</a>
                </li>
                <li>
                    <a href="/possible">Pawsible Friends</a>
                </li>
                <li><a href="/pets/new">Add Pet</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="showContainer">
            <h1><%= pets.name %> </h1>
            <section class="tools-show">
                <a href="/pets/<%= pets._id %>/edit">Edit</a>
                <form  action="/pets/<%= pets._id %>?_method=DELETE" method="POST">
                    <input type="submit" value="Delete Pet" />
                </form>
            </section>
            <div id="showDog" >
                <img class="doggo" src="<%= pets.img %>" alt="my good boi" height="400px"/>
            </div>
            <ul class="data-display">
                <li>Breed: <%= pets.breed %> </li><br/>
                <li>Age: <%= pets.age %> </li><br/>
                <li>Energy: <%= pets.energy %> /5</li><br/>
                <li>Personality: <%= pets.personality %> </li><br/>
                <li>Doggo Bio: <%= pets.about %> </li><br/>
                <li>Favorite Play Places: <%= pets.locations %> </li><br/>
            </ul>
        </section>
    </main>
</body>
</html>